// Hero section start 

.hero{
    background-image: url(/Kevin_Therkildsen_Smuknu/assets/headers/front.jpg);
    height: 700px;
    @include cover-background;
    @include flex-center;

    .hero-wrap{
        margin-top: 100px;
        height: auto;
        background-color: #F7F0F2;
        padding: 60px;
        font-family:$font;
        text-align: center;
    

        h1{
            font-size: 54px;
            font-weight: 700;
        }

        p{
            font-size: 16px;
            line-height: 23px;
            padding: 20px;
        } 
        
    }
}

@media (min-width: 1024px) {
    .hero-wrap{
        position: absolute;
        left: 30px;
    }
    
}
// Hero section end 











// Reviews Start
.Featured-Reviews{
        text-align: center;
        font-family: $font;
        color: #707070;
        margin: 60px 30px;
    img{
        border: 10px solid #FA96AA;
        border-radius: 75px;
        width: 150px;
        height: 150px;
        margin: 57px;
    }
    h1{
        font-size: 20px;
        font-weight: 700;
    }
    p{
        font-size: 20px;
        font-weight: 400;
    }
    hr{
        margin-top: 30px;
        color: $primary-color;
    }
}
.wrap-Reviews{
    text-align: center;
    margin-top: 60px;
    h1{
        font-size: $title;
        font-family: $font;
        color: $secondary-color;
    }
    p{
        font-size: $title;
        font-family: $font;
        color: $primary-color;
        font-weight: 700;
    }
    img{
        border: 10px solid #FA96AA;
        border-radius: 75px;
    }
}
// Reviews End
@media only screen and (min-width: 728px ) {
    .featured-Reviews{
        
       
    }
}


