/* ------------ Medlem Hero section Start ---------- */
.Bliv-Medlem{
    background-image: url(/Kevin_Therkildsen_Smuknu/assets/headers/subscribers.jpg);
    height: 700px;
    @include cover-background;
    @include flex-center;
    margin-bottom: -10px;

    .Bliv-Medlem-wrap{
        margin-top: 100px;
        height: auto;
        background-color: $background;
        padding: 60px 30px;
        font-family:$font;
        text-align: center;
        color: $primary-color;
        animation: fadeup 1s ease-in-out;
        
        @keyframes fadeup {
            from{
                opacity: 0;
                transform: translateY(30%);
            }
            to{
                opacity: 1;
            } 
        }
    

        h1{
            font-size: $title;
            font-weight: 700;
        }

        p{
            font-size: $bodytext;
            line-height: 23px;
            padding: 20px;
            color: $secondary-color;
        } 
        
    }
}
/* ------------ Hero Media Queries Start ---------- */
@media (min-width: 1024px) {
    .Bliv-Medlem-wrap{
        position: absolute;
        left: 30px;
        padding: 60px 60px !important;
    }
}
/* ------------ Hero Media Queries End ---------- */
/* ------------ Medlem Hero section End ---------- */

/* ------------ Medlem section Start ---------- */
#medlem-container {
	height: auto;
	font-family: $font;
    font-weight: 400;
    margin-top: 30px;
    
}
.medlem-txt {
    display: flex;
	justify-content: space-between;
    justify-content: center;
	margin: auto;
    padding-bottom:70px ;

    h1{
        font-size: 20px;
        color: #707070;
        font-weight: 400;
        padding: 27px 0 10px 0;
    }
    
}
.medlem-box {
	width: 90%;
    @include flex-column;
    
}

.field-1 {
    border: 1px solid #707070;
    height: 40px;
}
.field-2 {
    border: 1px solid #707070;
    height: 40px;
}
.field-3 {
    border: 1px solid #707070;  
    height: 219px;
    }
 input, textarea{
    color: black;
    font-size: 16px;
    font-family: $font;
    padding: 10px;
 }


#opret-btn{
    margin-top: 30px;
    width: 133px;
    height: 40px;
    background-color: $primary-color;
    border: none;
    color: $background;
    border-radius: 30px;
    font-family: $font;
    font-size:$bodytext;
    font-weight: 700;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
}
#opret-btn:hover{
    background-color: #DA91A4;
}
.besked{
    margin: 10px 0 40px 0;
}
.remove-me{
    display: none;
}

.prov-igen{
    background-color: none;
}
/* ------------ Media Queries Medlem section Start ---------- */
@media (min-width: 1024px) {
    .medlem-box{
        width: 50%;
    }
    #valid{
        width: 50%;
    }  
}
@media only screen and (min-width: 380px ) {
    #valid{
        width: 100%;
    }
}
/* ------------ Media Queries Medlem section End ---------- */
/* ------------ Medlem section End ---------- */

/* ------------ Valid section Start ---------- */
#valid {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    font-family: $font;
	color: white;
    height: 635px;
    width: 100%;
    left: 0;
    background-color: #F7F0F2;
}
.Valid-wrap{
    transform: translateY(-4%);
    text-align: center;
    background-color: #f7f0f2;

    h1{
        font-size: $title;
        font-family: $font;
        color: $secondary-color;
        font-weight: 700;
    }
    h3{
        color: $secondary-color;
        text-decoration: underline;
        text-underline-offset: 6px;

        &:hover{
            color: $primary-color;
        }
    }
    .nyt-medlem{
        font-size: $bodytext;
        color: $primary-color;
        font-weight: 700;
    }
    p{
        font-size: $bodytext;
        font-family: $font;
        color: $secondary-color;
        font-weight: 400;
        padding: 20px 50px 35px 50px;
    }
    img{
        border: 5px solid #FA96AA;
        border-radius: 75px;
        width: 150px;
        height: 150px;
        
    }
}
/* ------------ Valid section End ---------- */
