.btn{
    width: 320px;
    height: 60px;
    background-color: $primary-color;
    border: none;
    color: $background;
    border-radius: 30px;
    font-family: $font;
    font-size:$bodytext;
    font-weight: 700;
    box-shadow: 0px 3px 6px #00000029;
}

.btn:hover{
    cursor: pointer;
}