/* ------------ Featured Products Start ---------- */
.Featured-wrap{
    text-align: center;
    margin: 60px 0;

    h1{
        font-size: $title;
        font-family: $font;
        color: $secondary-color;
    }
    p{
        font-size: $title;
        font-family: $font;
        color: $primary-color;
        font-weight: 700;
    }
}

/* ------------  Product List Start ---------- */
#product-list,#Products{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.Products{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    max-width: 300px;
}
.Products-image{
    border-radius: 15px 15px 0px 0px;
}

.Product-Discount{
    position: absolute;
    clear: both;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: $primary-color;
    h1{
        font-family: $font;
        color: #F3EDED;
        font-size: $bodytext;
    }
    p{
        font-family: $font;
        font-size: 22px;
        color: $background;
        font-weight: 700;
    }
}
.Products-details{
    padding: 20px;
    border-top: 2px solid $primary-color;

    h3{
        font-size: 22px;
        font-family: $font;
        font-weight: 400;
    }
    p{
        font-family: $font;
        font-size: $bodytext;
        font-weight: 700;
        
    }
}
/* ------------  Product List End ---------- */
@media only screen and (min-width: 728px) and (max-width: 1024px) {
.Featured-Products{
    .Featured-wrap{
            h1{
              font-size: 65px;
            }
            p{
              font-size: 65px;
    
            }
        }
    }
}
/* ------------ Featured Products End ---------- */
